.searchbox1{
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100px;
   max-width: 750px;
   border-radius: 3px;  
}
.searchbox2{
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 200px;
   max-width: 750px;
   border-radius: 3px;  
}
.searchbox3{
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100px;
   max-width: 750px;
   border-radius: 3px; 
}